.admin-nav-drawer {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.rail-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1rem);
}

.active-admin-list-item {
  background: #69f0ae;
  color: black;
}

.admin-form {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 1px solid rgba(255, 255, 255, 0.15);

  min-width: 350px;
  max-width: 450px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.back-to-home-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.card-admin-panel-info {
  background: rgba(0, 0, 0, .3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  position: relative;
}

.card-yt-stats{
  background: rgba(0, 0, 0, .3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  position: relative;
}

.yt-stats-card-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}