.add-blog-form {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255.15);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
}

.close-icon-in-add-blog-form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
