.delete-game-pop-up,
.game-detail-pop-up,
.add-game-pop-up {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.research-game {
  background: rgba(255, 255, 255, .15);
  border: none;
  backdrop-filter: blur(.7rem);
  -webkit-backdrop-filter: blur(.7rem);
}

.selected-research-game {
  background: #69F0AE;
  border: none;
  backdrop-filter: blur(.7rem);
  -webkit-backdrop-filter: blur(.7rem);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(20px);
}