.feedback-container {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .15);
    background: rgba(0, 0, 0, .3);
    z-index: 99999;
}

.close-icon-in-feedback-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
}

.bg-anim {
    pointer-events: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.banner-content {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
}

.form-container {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.15);

}