.game-genre-card {
    position: relative;
}

.game-genre-card:hover .game-genre-card-img {
    filter: brightness(.5);
}

.game-genre-title {
    position: absolute;
    height: 25%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}