.game-genre-card {
  position: relative;
}

.game-genre-card:hover .game-genre-card-img {
  filter: brightness(0.5);
}

.game-genre-title {
  position: absolute;
  height: 25%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.search-game-pop-up {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}

.close-icon-in-search-game-pop-up {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.back-to-games-btn {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, .2);
  border-radius: 2.5rem;
}

.back-to-games-btn:hover {
  background: rgba(0, 0, 0, .4);
  border-color: transparent;
}