.footer-container {
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, .15) !important;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.footer-link:hover {
    color: #546E7A !important;
}

.footer-socail-link:hover {
    transform: rotate(360deg);
    color: #546E7A !important;
}