.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all .7s ease;
}

.scrolled-navbar {
    /* background-color: rgba(255, 255, 255, 0.15) !important; */
    background-color: rgba(0, 0, 0, 0.6) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar-item:hover {
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
}

.navbar-item:hover .default-title-letter {
    color: #fff !important;
}

.navbar-item:hover .navbar-item-icon {
    transform: rotate(360deg);
    color: #fff;
}

.active-navbar-item-title {
    color: #000;
}

.active-navbar-item-link {
    background: #69F0AE !important;
}

.back-to-admin-panel-btn {
    position: fixed;
    bottom: 5%;
    right: 0;
    z-index: 999;

    border-radius: 1rem 0 0 1rem;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, .3);
    border-right: none;
    backdrop-filter: blur(.7rem);
    -webkit-backdrop-filter: blur(.7rem);
}