.recommend-game-form-container {
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
    border: 1px solid rgba(255, 255, 255, .15);
}

.successfull-recommended-pop-up-container {
    position: relative;
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(255, 255, 255, .15);
}

.successfull-recommended-pop-up-container-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99999;
}

.selected-research-game {
    background: #5E35B1 !important;
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.3s ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.slide-down-enter-from {
    opacity: 0;
    transform: translateY(60px);
}

.slide-down-enter-active {
    transition: all 0.45s ease-out;
}

.slide-down-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.slide-down-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.slide-down-leave-active {
    transition: all 0.35s ease-in;
}

.slide-down-leave-to {
    opacity: 0;
    transform: translateY(60px);
}